.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.chat-input {
  display: flex;
  align-items: center;
  background-color: #f4f7fc;
  padding: 10px;
  border-radius: 20px;
  width: 100%; /* Full width */
  max-width: 800px; /* Optional: Limit the max width to avoid overflow */
  gap: 0;
  box-sizing: border-box;
}

.icon-container {
  display: flex;
  gap: 10px;
}

.icon {
/* background-color: blue; */
justify-content: center;
align-items: center;
  cursor: pointer;
  padding: 5px;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 50%;
}


.send-button {
  background: none;
  border: none;
  cursor: pointer;
}


.input-field {
  width: 78%;
  padding: 10px;
 border-color: #f4f7fc;
  border-width: 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 0px;
  font-size: 16px;
  outline: none;
  height: 48px;
}

.fake-button-div-send {
  background-color: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #f4f7fc;
    border-width: 1px;
 padding-right: 15px;
   height: 48px;
   justify-content: center;
   align-items: center; 
   display: flex;
}

.fake-button-div {
  background-color: rgba(255, 255, 255, 0.6);
 padding-right: 5px;
 padding-left: 5px;
   height: 48px;
  justify-content: center;
   align-items: center; 
   display: flex;
}
