@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #141b34;
}

@theme inline {
  --color-dark: var(--dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --background-image-primary-gradient: linear-gradient(
    177deg,
    #5c8ff7 10.06%,
    #276aee 62.94%
  );
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --text-color-dark-100: #141b34;
  --text-color-paragraph: rgba(0, 0, 0, 0.6);
  --text-color-paragraph-dark: rgba(20, 27, 52, 0.7);
}

button {
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

.primary-gradient-text {
  @apply bg-clip-text text-transparent bg-primary-gradient;
}

.success-gradient-text {
  @apply bg-clip-text text-transparent bg-[linear-gradient(177deg,#19A855_10.06%,#0B9545_62.94%)];
}

.warning-gradient-text {
  @apply bg-clip-text text-transparent bg-[linear-gradient(207deg,#FFB42A_39.14%,#EB9E0F_71.52%)];
}

.danger-gradient-text {
  @apply bg-clip-text text-transparent bg-[linear-gradient(148deg,#FF6565_16.41%,#EC4213_59.87%)];
}
